
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --p_color : #232e20;
    --s_color : #58644C;
}
/* font campton regular */
@font-face {
  font-family: 'Campton';
  src: url('/fonts/CamptonBook.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}
html{
    font-size: 16px;
    
}

body{
    font-family: Campton, Arial, sans-serif !important; 
    letter-spacing: .0175rem;
}
h1, h2, h3, h4, h5, h6, p {
    text-wrap: balance !important;
}
h5{
    font-size: 1.5rem;
}
/*  */
.hero-section{
    width: 100%;
    height:100vh;
    overflow: hidden;
    position:relative;
   
}
.md-section{
    background: #EAE6DD;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-wallpaper{
    background-image: linear-gradient(#00000080, #00000080);
    background-repeat: no-repeat;
    position:absolute;
    /* object-fit:scale-down; */
    background-size: cover;

    height: 100%;
    width: 100%;
    top:0%;
    left: 0%;
    right:0%;
    bottom:0%;
    background-image: url('https://www.tallows.de/cdn/shop/files/tallow-header-neu.webp?v=1758545609&width=1920');
}
.hero-text-wrapper{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height: 400px;
    
}
.tt-text-xs{
    font-weight: 600;
    line-height: 10px;
    font-size: 10px;
    letter-spacing: 2px;
}
.tt-text-md{
    font-weight: 600;
    line-height: 10px;
    font-size: 12px;
    letter-spacing: 2px;
}

.tt-text-hero-md{
     font-weight: 700 !important;
     font-size: 22px;
     letter-spacing: 3px !important;
    

}
.sec_text_p_md{
    font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}
p{
   font-family: "IBM Plex Serif", serif; 
}
.p-reviews{
    font-size: 14px;
}
.text-bracket{
    border-left:1px solid #fff;
    
}
.tt_btn{
    outline: 0;
    border:none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 3rem;
    padding: 1rem 3.275rem;
    box-shadow :.3s,color .3s,border-color .3s,background-color .3s;
    display: flex;
    background: #fff;;
    text-align: center !important;
    display: inline-flex;
    


}
.tt_btn_theme {
    outline: 0;
    border: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 3rem;
    padding: 1rem 3.275rem;
    transition: .3s, color .3s, border-color .3s, background-color .3s;
    display: inline-flex;

    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */

    background: var(--p_color);
    color: #fff;
    text-align: center;
}
/* button{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px !important;
    height: 50px;
    border-radius: 0 !important;
} */
.tt-text-xl{
    font-size: 4rem !important;
    font-weight: 500;
}
.tb-p{
    padding-top:50px !important;
    padding-bottom: 50px !important;
}
.tt_title_sm{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.tt_title_md{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.tt_mid_c{
width: 100%; /* full width */
  height: 300px; 
  display: flex;
  
  align-items: center;
}
.carousel-cell {
  width: 30%;
  height: 300px; /* height of carousel */
  margin-right: 10px !important;
}
.ca-cel-re{
 /* width: 0% !important; */
 /* width: 18% !important; */
  
}
.carousel-cell div img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.banner{
   background: var(--p_color);
   height: 200px;
   display: flex;
   /* justify-content: center; */
   align-items: center;
   color: #fff;
   padding-top: 32px;
   padding-bottom: 32px;
  
}
.banner img{
    height: 60px;
}

.cr-cont{
    position: relative;
}
.cr-cont div{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: center;
    width: 100%;
    letter-spacing: 3px;
    font-size: 12px;
    padding: 8px;
}
.reviews-section{
    background-color: #F7F7F7;
    padding: 50px 0;
    /* display: flex;
    align-items: center; */
    max-height: 350px;
    /* overflow: hidden; */
    
    

}

.form-control{
    height: 50px;
    border-radius: 0;
}
.reviews-section-content{
    min-height: 250px !important;
   
    
    /* overflow: hidden; */

}
.stars i{
    font-size: 12px !important;
    color: var(--s_color);

}
.review-content{
    padding: 16px 16px;
    background: #fff;
    min-width: 250px;
    height: 250px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.product-image-xl{
height: 400px !important;
overflow: hidden;
}
.product-image-xl img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.medium-section{
    padding: 4rem;
    /* padding-bottom: 4rem; */
}

.br-1-bg{
    background-color: #EAE6DD;
}
.f-img-wr{
    height:500px;
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
}
.f-img-wr img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.mid-item{
    height: 500px;
}

/* marquee */
.marquee {
    width: 100%;
    overflow: hidden;
    
    color: var(--p_color);
    padding: 10px 0;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: scroll-left 60s linear infinite;
}
.mq-cont{
    width: 100%;
    transform: translateX(-100%);
}
.mq-cont span{
    margin-right:2rem;
}
footer{
    background-color: var(--p_color) !important;
    color: #fff !important;
}
.btn-white-outline{
    border: 1px solid #fff;
    background: transparent;
}
.text-sm{
    font-size: 1rem !important;
}

.section-type-1{
   padding-top: 4rem;
   padding-bottom: 4rem;
   height: 600px;
   background-color: #F7F7F7;
}
.link-secondary:hover{
    color: #000 !important;
    background: #fff;
}
.non-hover:hover{
    color: #fff !important;
    background: transparent;
}

.scrolled:hover{
    color: #000 !important;
    background: transparent;
}
.empty-cart-img{
    width: 100%;
    height: 250px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* end marquee */
.table-lg th,
.table-lg td {
    padding: 1.8rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 10px;
    font-size: 12px;
    letter-spacing: 2px;
}
main{
    min-height: 100vh;
}
.sm-th-img{
    width: 88px;
    height: 120px;
    overflow: hidden;
    border-radius: 4px;
}
.sm-th-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.counter{
    width: 120px;
    height: 40px;
    padding: 4px 0px;
    /* border:1px solid #333; */
    display: flex;
    align-items: center;


}
i{
    color: var(--p_color);
    font-size: 20px !important;
}


.counter-content{
   
    width: 100%;
    height: 100%;
    display: flex;
}
.counter-block-1{
    border-right: 1px solid #333;
    height: 100%;
    width: 40px;
}
.counter-block-1{
    
    height: 100%;
    width: 40px;
}
.counter-block-3{
    border-left: 1px solid #333;
    height: 100%;
    width: 40px;
}
.c-round{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f0f0f0;
}
.c-input{
    width: 60px;
    height: 30px;
    margin-left: 8px;
    margin-right: 8px;
    background: #eee;
    border: 0;
    outline: none;
    box-shadow: 0;
    text-align: center;
}

.payment-summary{
    background: #EAE6DD;
    padding: 16px;
    position: relative;;
    
}
.sk-pl{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .125);
    position: absolute;
    z-index: 100;
    top:0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* start media queries for the small devices */
@media (max-width: 480px) {
    .html{
        font-size: 14px;
    }
   .tt_mid_c{
    
    height: 100%;
    display: block; 
   }
   .banner{
    height: 200px;
    padding-top:50px;
    padding-bottom:50px;
   }
   .carousel-cell {
  width: 100%; /* full width */
  height: 300px; /* height of carousel */
  margin-right: 10px !important;
}
.ca-cel-re{
 /* width: 0% !important; */
 /* width: 75% !important; */
  margin-right: 16px;
}
   .carousel-cell div img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.hero-wallpaper{
    background-image:url('https://www.tallows.de/cdn/shop/files/1080_x_1920_px_1.webp?v=1758806267&width=1000');
}
.tt-text-hero-md{
     font-weight: 600 !important;
     font-size: 18px;
     letter-spacing: 2px !important;
    

}
.medium-section{
    padding: 2rem;
}
.logo-md{
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
    object-fit: cover;
}

header{
    padding: 14px 0px !important;
   

}
.md-section{
    
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

